/* ================================================== */
/* HEADER */
/* ================================================== */

.header { 
    position: fixed;
    z-index: 10;
}

.header .section {
    background-color: var(--color-surface-main);
    backdrop-filter: blur(4px);
}

.header .menu-btn { transition: gap 0.3s; }
.header .menu-btn .line {
    width: 20px;
    height: 2px;
    background-color: var(--color-fg-main);
    transition: transform 0.3s ease-out, 0.3s;
    margin: -1px;
}

.header .menu-btn.active { gap: 0; }
.header .menu-btn.active .line:first-child { transform: rotate(45deg); }
.header .menu-btn.active .line:last-child { transform: rotate(-45deg); }

/* ================================================== */
/* NAV */
/* ================================================== */

.nav {
    position: fixed;
    max-width: 768px;
    inset: 12px;
    z-index: 20;
    transform: scale(.9);
    transform-origin: top left;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s, opacity 0.3s;
}

.nav .section {
    background-color: var(--color-surface-main);
    backdrop-filter: blur(4px);
}

.nav.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}