/* ================================================== */
/* IMPORTS */
/* ================================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* ================================================== */
/* BASIC APPEARANCE */
/* ================================================== */

:root {
    --color-bg-main: #0F1115;
    --color-bg-card: #1A1D23;
    
    --color-fg-main: #FFF9EF;
    --color-fg-card: #E7DCCC;
    
    --color-surface-main: #0F111557;
    --color-surface-alt: #FFF9EF4D;
    
    --color-border-dark: #2A2D3557;
    --color-border-light: #FFFFFF1A;

    --color-state-red: #DF2935;
    --color-state-yellow: #FFBF00;
    --color-state-green: #488B49;
    --color-state-blue: #2364AA;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
    scrollbar-width: thin;
    scrollbar-color: var(--color-fg-main) transparent;
    cursor: none !important;
}

*::selection {
    background-color: var(--color-fg-card);
    color: var(--color-bg-main);
}

.theme-inverted {
    --color-fg-main: #0F1115;
    --color-fg-card: #1A1D23;
    
    --color-bg-main: #FFF9EF;
    --color-bg-card: #E7DCCC;

    background-color: var(--color-bg-main);
    color: var(--color-fg-main);
}

/* ================================================== */
/* KEYFRAMES */
/* ================================================== */

@keyframes animatedArrowAnimation {
    0%, 100% { transform: translateY(0) }
    50% { transform: translateY(-48px) }
}

@keyframes clickAnimation {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(0.95); }
}

@keyframes shakeAnimation {
    0% { transform: translateX(0px); }
    20% { transform: translateX(12px); }
    40% { transform: translateX(-12px); }
    60% { transform: translateX(12px); }
    80% { transform: translateX(-12px); }
    100% { transform: translateX(0px); }
}

.animated-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    right: 50%;
    animation: animatedArrowAnimation 2s cubic-bezier(0.7,0.1,0.5,0.9) infinite;
}

.anim-clicked { animation: clickAnimation 0.3s ease forwards; }
.shake { animation: shakeAnimation 0.6s ease forwards; }

/* ================================================== */
/* CUSTOM CURSOR */
/* ================================================== */

.custom-cursor-wrapper {
    border: 1px solid var(--color-bg-card);
    padding: 8px;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    border-radius: 50%;
    transition: transform 0.5s;
}

.custom-cursor-wrapper.hovered { transform: scale(2); }
.custom-cursor-wrapper.shrunk { transform: scale(0.5); }

/* ================================================== */
/* CONTAINERS */
/* ================================================== */

body {
    background-color: var(--color-bg-main);
    color: var(--color-fg-main);
    height: 100dvh;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.section {
    max-width: 1440px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: translateY(24px);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.3s;
}

.section.active {
    transform: translateY(0);
    opacity: 1;
}

.container { overflow: hidden; }

@media (max-width: 568px) {
    .section.p-48 { padding: 20px !important; }
}

/* ================================================== */
/* DISPLAY */
/* ================================================== */

.hidden { display: none; }
.flex { display: flex; }
.grid { display: grid; }

/* ================================================== */
/* FLEX */
/* ================================================== */

.row {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.res-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.v-center { align-items: center; }
.v-en { align-items: end; }
.v-st { align-items: start; }
.h-center { justify-content: center; }
.h-en { justify-content: end; }
.h-se { justify-content: space-evenly; }
.h-sb { justify-content: space-between; }
.center { display: flex; align-items: center; justify-content: center; }

/* ================================================== */
/* GRID */
/* ================================================== */

.cols-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
.cols-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
.cols-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
.cols-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
.cols-auto-400 { grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr)); }
.cols-auto-320 { grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr)); }
.rows-1 { grid-template-rows: repeat(1, minmax(0, 1fr)); }
.rows-2 { grid-template-rows: repeat(2, minmax(0, 1fr)); }
.rows-3 { grid-template-rows: repeat(3, minmax(0, 1fr)); }

/* ================================================== */
/* GAP */
/* ================================================== */

.gap-4 { gap: 4px; }
.gap-8 { gap: 8px; }
.gap-12 { gap: 12px; }
.gap-16 { gap: 16px; }
.gap-20 { gap: 20px; }
.gap-24 { gap: 24px; }
.gap-32 { gap: 32px; }
.gap-40 { gap: 40px; }
.gap-48 { gap: 48px; }
.gap-64 { gap: 64px; }
.gap-96 { gap: 96px; }

/* ================================================== */
/* SPACING */
/* ================================================== */

.m-4 { margin: 4px; }
.m-8 { margin: 8px; }
.m-12 { margin: 12px; }
.m-16 { margin: 16px; }
.m-20 { margin: 20px; }
.m-24 { margin: 24px; }
.m-32 { margin: 32px; }
.m-auto { margin: auto; }
.mx-auto { margin: 0 auto;}

.mv-4 { margin-top: 4px; margin-bottom: 4px; }
.mv-8 { margin-top: 8px; margin-bottom: 8px; }
.mv-12 { margin-top: 12px; margin-bottom: 12px; }
.mv-16 { margin-top: 16px; margin-bottom: 16px; }
.mv-20 { margin-top: 20px; margin-bottom: 20px; }
.mv-24 { margin-top: 24px; margin-bottom: 24px; }
.mv-32 { margin-top: 32px; margin-bottom: 32px; }
.mv-48 { margin-top: 48px; margin-bottom: 48px; }
.mv-64 { margin-top: 64px; margin-bottom: 64px; }

.mh-4 { margin: 0 4px; }
.mh-8 { margin: 0 8px; }
.mh-12 { margin: 0 12px; }
.mh-16 { margin: 0 16px; }
.mh-20 { margin: 0 20px; }
.mh-24 { margin: 0 24px; }
.mh-32 { margin: 0 32px; }
.mh-auto { margin-left: auto; margin-right: auto; }

.p-4 { padding: 4px; }
.p-8 { padding: 8px; }
.p-12 { padding: 12px; }
.p-16 { padding: 16px; }
.p-20 { padding: 20px; }
.p-24 { padding: 24px; }
.p-32 { padding: 32px; }
.p-48 { padding: 48px; }
.p-96 { padding: 96px; }

.ph-4 { padding-left: 4px; padding-right: 4px; }
.ph-8 { padding-left: 8px; padding-right: 8px; }
.ph-12 { padding-left: 12px; padding-right: 12px; }
.ph-16 { padding-left: 16px; padding-right: 16px; }
.ph-20 { padding-left: 20px; padding-right: 20px; }
.ph-24 { padding-left: 24px; padding-right: 24px; }
.ph-32 { padding-left: 32px; padding-right: 32px; }

.pv-4 { padding-top: 4px; padding-bottom: 4px; }
.pv-8 { padding-top: 8px; padding-bottom: 8px; }
.pv-12 { padding-top: 12px; padding-bottom: 12px; }
.pv-16 { padding-top: 16px; padding-bottom: 16px; }
.pv-20 { padding-top: 20px; padding-bottom: 20px; }
.pv-24 { padding-top: 24px; padding-bottom: 24px; }
.pv-32 { padding-top: 32px; padding-bottom: 32px; }

/* ================================================== */
/* SIZE */
/* ================================================== */

.w-auto { width: auto; }
.w-full { width: 100% !important; }
.w-fit { width: fit-content; }
.h-auto { height: auto; }
.h-fit { height: fit-content; }
.h-full { height: 100%; }
.h-screen { height: 100vh; }
.min-h-screen { min-height: 100vh; }
.min-h-0 { min-height: 0; }

/* ================================================== */
/* TYPOGRAPHY */
/* ================================================== */

.text-left { text-align: left !important; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.uppercase { text-transform: uppercase !important; }
.lowercase { text-transform: lowercase !important; }
.capitalize { text-transform: capitalize !important; }
.normal-case { text-transform: none !important; }

.fs-12 { font-size: 12px !important; }
.fs-16 { font-size: 16px !important; }
.fs-20 { font-size: 20px !important; }
.fs-24 { font-size: 24px !important; }
.fs-32 { font-size: 32px !important; }
.fs-36 { font-size: 36px !important; }
.fs-48 { font-size: 48px !important; }
.fs-64 { font-size: 64px !important; }
.fs-96 { font-size: 96px !important; }
.fs-128 { font-size: 128px !important; }

.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-700 { font-weight: 700 !important; }

.text-muted { color: #84848D; }
.text-normal { color: var(--color-fg-main); }
.text-inverted { color: var(--color-bg-main); }
.spacing-2 { letter-spacing: 2px; }

.fn-inter { font-family: "Inter", sans-serif !important; }
.fn-robo { font-family: "Roboto Condensed", sans-serif !important; }

.h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 2px;
}

.h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 2px;
}

.h2-lw {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 2px;
}

.h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
}

.text, .para {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

.para {
    max-width: 568px;
    text-wrap: balance;
}

.mini {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
}

/* ================================================== */
/* BORDER */
/* ================================================== */

.border { border: 1px solid var(--color-border); }
.rounded-4 { border-radius: 4px; }
.rounded-8 { border-radius: 8px; }
.rounded-12 { border-radius: 12px; }
.rounded-16 { border-radius: 16px; }
.rounded-32 { border-radius: 32px; }
.rounded-48 { border-radius: 48px; }
.rounded-full { border-radius: 9999px; }

/* ================================================== */
/* EFFECTS */
/* ================================================== */

.fx-shadow { box-shadow: 5px 5px 10px -5px var(--color-fg-card); }
.fx-blur { backdrop-filter: blur(4px); }

/* ================================================== */
/* COLORS */
/* ================================================== */

.bg-main { background-color: var(--color-bg-main) !important; }
.bg-card { background-color: var(--color-bg-card); }

/* ================================================== */
/* INPUTS */
/* ================================================== */

.input {
    background-color: var(--color-bg-main);
    border: 1px solid var(--color-fg-main);
    color: var(--color-fg-main);
    padding: 8px;
    border-radius: 8px;
    outline: none;
}

.input::placeholder { color: var(--color-fg-card); }

.input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;    
    width: 16px;
    height: 16px;
    background-image: url('/static/assets/icons/close.svg');
    background-size: contain;
    cursor: pointer;
}

textarea.input {
    height: 148px;
    resize: vertical;
}

.btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-align: center;
    width: fit-content;
    text-decoration: none;
}

.btn:disabled {
    background-color: var(--color-border) !important;
    color: #FDFDFF !important;
    cursor: not-allowed !important;
}

.ot {
    border: 1px solid var(--color-border-dark);
    color: var(--color-fg-main);
    transition: color 0.3s;
}
.ot:hover { color: var(--color-fg-card); }

.fl {
    background-color: var(--color-fg-main);
    color: var(--color-bg-main);
    transition: background-color 0.3s;
}
.fl:hover {
    background-color: var(--color-fg-card);
}

.icon-ot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid var(--color-border-dark);
    color: var(--color-fg-main);
    transition: color 0.3s;
}

.icon-ot .text {
    transform: translateX(16px);
    transition: transform 0.3s;
}

.icon-ot .symbol {
    transform: translateX(-12px);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.icon-ot:hover .text { transform: translateX(0); }
.icon-ot:hover .symbol {
    transform: translateX(0);
    opacity: 1;
}

.icon-fl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--color-fg-main);
    color: #FDFDFF !important;
    transition: background-color 0.3s;
}
.icon-fl:hover { 
    background-color: var(--color-fg-alt);
 }

/* ================================================== */
/* LINKS */
/* ================================================== */

.link {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-fg-main);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    transition: color 0.3s;
}
.link:hover { color: var(--color-fg-card); }

.ulink {
    text-decoration: underline;
    font-weight: 500;
    color: var(--color-fg-main);
    cursor: pointer;
    text-underline-offset: 5px;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    transition: color 0.3s;
}
.ulink:hover { color: var(--color-fg-card); }

/* ================================================== */
/* IMAGES */
/* ================================================== */

.img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.logo {
    width: 48px;
    height: 48px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    vertical-align: bottom;
}

.icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    vertical-align: bottom;
}

.symbol {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: bottom;
}

.fl-icon {font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;}

/* ================================================== */
/* OTHER ELEMENTS */
/* ================================================== */

.divider {
    border: 1px solid var(--color-border-dark);
    margin: 0 20px;
}

.divider-l {
    border: 2px solid var(--color-border-dark);
    margin: 0 20px;
}

.disabled {
    background-color: var(--color-border-dark);
    color: var(--color-fg-card);
    cursor: not-allowed;
    opacity: 0.6;
}

.disabled-alt {
    color: var(--color-fg-card);
    cursor: not-allowed;
    opacity: 0.6;
}

.list { list-style-type: none; }
.no-list { list-style-position: inside; }

/* ================================================== */
/* POPOVERS */
/* ================================================== */

.popover {
    position: fixed;
    z-index: 50;
    border: 1px solid var(--color-bg-card);
    color: var(--color-fg-main);
    backdrop-filter: blur(4px);
    width: min(512px, calc(100% - 24px));
    margin: auto;
    transition: transform 0.3s cubic-bezier(0.911, 0.161, 0.181, 0.797);
}

/* ----- SUCCESS PAGE SPECIFIC ----- */

.success-page {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background:
        radial-gradient(circle at 0% 0%, var(--color-state-green) 0%, var(--color-surface-alt) 20%),
        radial-gradient(circle at 100% 100%, var(--color-state-green) 0%, var(--color-surface-alt) 25%);
}

.success-page .symbol {
    background-color: var(--color-state-green);
    border-radius: 50%;
    padding: 12px;
}

.success-page .btn { background-color: var(--color-state-green); }
.success-page.open { transform: translate(-50%, -50%) scale(1); }